.navbg{
    display: flex;
    align-items: center;
    height: 4.5rem;
    box-shadow: -4.884px 14.183px 16px 0px rgb(0 0 0 / 5%);
    margin-bottom: 15px;
    z-index: 10;
}
.nlogo{
    margin-left: 40px;
}
.swadesi{
    width: 8rem;
    height: 30px;
}
img{
    margin-left: 20px;
}
.vl{
    border-left: 2px solid black;
    height: 40px;
}
.allimg{
    display: flex;
    margin-left: 10rem;
}

.insearch >input{
    width: 35rem; 
    margin-left: 90px; 
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px 0px 45px;
    color: #333;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #333;
    outline: none;
}
.fa-magnifying-glass{
    position: absolute;
    left: 21.5%;
    top: 3%;
    font-size: 22px;
}
.proname{
    cursor: pointer;
    position: relative;
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px 20px;
    font-family: 'Outfit', sans-serif;
    color: rgba(40, 40, 40, 0.902);
    text-decoration: none;
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.wish{
    cursor: pointer;
    font-size: 25px;
    padding: 5px 0px;
    margin: 0px 20px;
    font-family: 'Outfit', sans-serif;
    color: rgba(40, 40, 40, 0.902);
    display: flex;
    flex-direction: row;
}
.wih{
    /* width: 10rem; */
}
.wishlink{
    text-decoration: none;
    color: black;
    display: flex;
}
.wishlink>h4{
    margin-top: 7px;
}
.wih:hover{
    color: red;
}
.wish >h4{
    text-decoration: none;
}
.fa-heart{
    color: black;
    font-size: 25px;
    margin:10px 20px 0px 15px;
}
/* .fa-heart:hover{
    color: red;
    
} */

.bag{
    cursor: pointer;
    position: relative;
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px 20px;
    font-family: 'Outfit', sans-serif;
    color: rgba(40, 40, 40, 0.902);
    text-decoration: none;
    display: block;
    display: flex;
}
.bag:hover{
    color: red;
}
.bag>img{
    width: 25px;
    height: 25px;
    margin: 0 20px 0px 0px;

}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #ddd;
    }

  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }  